html, body{
    height: 100%;
    margin:0;
    padding:0;
}

body{
    background-color: #EDE2D6;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
}

body > *{

    /*filter: invert(100%);*/

}


svg{
    width: 60%;
    align-self: center;
    justify-self: center;
    /*transform: rotate(90deg);*/
    overflow: visible;
}
.st0{fill:#090A0B;}
.st1{opacity:0.9;fill:#0268AE;}
.st2{fill:#696B66;}
.st3{opacity:0.89;}
.st4{fill:#008764;}
.st5{fill:#080C0E;}
.st6{opacity:0.9;fill:#008764;}
.st7{fill:#DAB83F;}
.st8{fill:#75A3BF;}
.st9{fill:#E3C759;}
.st10{fill:#605851;}
.st11{fill:#050607;}
.st12{fill:#4391C6;}
.st13{fill:#090B0E;}
.st14{fill:#008865;}
.st15{fill:#EACE5F;}
.st16{fill:#E7412E;}
.st17{fill:#161214;stroke:#161214;stroke-width:0.8;stroke-miterlimit:10;}
.st18{fill:#E23523;}
.st19{fill:#161214;stroke:#161214;stroke-width:0.6;stroke-miterlimit:10;}
.st20{fill:#E4372B;}

/*
animation headerpin
 */


/*
green hammers
 */
svg #greenhammer,
#greenhammer_1_,
#greenhammer_2_,
#greenhammer_3_,
#greenhammer_4_,
#greenhammer_5_,
#greenhammer_6_,
#greenhammer_7_,
#greenhammer_8_,
#greenhammer_10_,
#greenhammer_11_,
#greenhammer_12_,
#greenhammer_13_,
#greenhammer_14_,
#greenhammer_15_,
#greenhammer_16_
{
    mix-blend-mode: exclusion;


}


/*
animation hammers
 */

svg #smallblock
{
    animation-delay: 3s;
    animation-duration: 1.2s;
    animation-name: animateHammerLines;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines{
    from{
        transform: translateX(0px);

    }
    to{
        transform: translateX(-30%);
    }
}

svg #smallblock_1_
{
    animation-duration: 1.2s;
    animation-delay: 3.1s;
    animation-name: animateHammerLines_1_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_1_{
    from{
        transform: translateX(0px);

    }
    to{
        transform: translateX(-1050px);
    }
}

svg #smallblock_2_
{
    animation-duration: 1.2s;
    animation-delay: 3.2s;
    animation-name: animateHammerLines_2_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_2_{
    from{
        transform: translateX(0px);

    }
    to{
        transform: translateX(-985px);
    }
}

svg #smallblock_3_
{
    animation-duration: 1.2s;
    animation-delay: 3.3s;
    animation-name: animateHammerLines_3_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_3_{
    from{
        transform: translateX(0px);

    }
    to{
        transform: translateX(-950px);
    }
}


svg #smallblock_4_
{
    animation-duration: 1.2s;
    animation-delay: 3.4s;
    animation-name: animateHammerLines_4_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_4_{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-855px);
    }
}


svg #smallblock_5_
{
    animation-duration: 1.2s;
    animation-delay: 3.5s;
    animation-name: animateHammerLines_5_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_5_{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-820px);
    }
}

svg #smallblock_6_
{
    animation-duration: 1.2s;
    animation-delay: 3.6s;
    animation-name: animateHammerLines_6_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_6_{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-800px);
    }
}

svg #smallblock_7_
{
    animation-duration: 1.2s;
    animation-delay: 3.7s;
    animation-name: animateHammerLines_7_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_7_{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-815px);
    }
}

svg #smallblock_8_
{
    animation-duration: 1.2s;
    animation-delay: 3.8s;
    animation-name: animateHammerLines_8_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_8_{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-845px);
    }
}

svg #smallblock_9_
{
    animation-duration: 1.2s;
    animation-delay: 3.9s;
    animation-name: animateHammerLines_9_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_9_{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-875px);
    }
}

svg #smallblock_10_
{
    animation-duration: 1.2s;
    animation-delay: 4s;
    animation-name: animateHammerLines_10_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_10_{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-940px);
    }
}

svg #smallblock_11_
{
    animation-duration: 1.2s;
    animation-delay: 4.1s;
    animation-name: animateHammerLines_11_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_11_{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-1040px);
    }
}

svg #smallblock_12_
{
    animation-duration: 1.2s;
    animation-delay: 4.2s;
    animation-name: animateHammerLines_12_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateHammerLines_12_{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-1115px);
    }
}


/* hammer stamps*/
svg #stamp_8_
{
    animation-delay: 3s;
    animation-duration: 1.2s;
    animation-name: animateStamp_8_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0px, 0px) rotate(45deg);

}

@keyframes animateStamp_8_{
    from{
        transform: translate(0px, 0px) rotate(45deg);
    }
    to{
        transform: translate(-250px,-270px) rotate(45deg);
    }
}


svg #stamp_7_
{
    animation-duration: 1.2s;
    animation-delay: 3.1s;
    animation-name: animateStamp_7_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /*transform: translate(-280px,-230px) rotate(40deg);-47 70+*/
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(40deg);
}

@keyframes animateStamp_7_{
    from{
        transform-box: fill-box;
        transform-origin: center;
        transform: translate(0%,0%) rotate(40deg);
    }
    to{
        transform-box: fill-box;
        transform-origin: center;
        transform: translate(-233%,-300%) rotate(40deg);
    }
}


svg #stamp_6_
{
    animation-duration: 1.2s;
    animation-delay: 3.2s;
    animation-name: animateStamp_6_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(33deg);
}

@keyframes animateStamp_6_{
    from{
        transform: translate(0%,0%) rotate(33deg);
    }
    to{
        transform: translate(-281%,-293%) rotate(33deg);
    }
}


svg #stamp_5_
{
    animation-duration: 1.2s;
    animation-delay: 3.3s;
    animation-name: animateStamp_5_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(28deg);
}

@keyframes animateStamp_5_{
    from{
        transform: translate(0%,0%) rotate(28deg);
    }
    to{
        transform: translate(-296%,-251%) rotate(28deg);
    }
}

svg #stamp_4_ {
    animation-duration: 1.2s;
    animation-delay: 3.4s;
    animation-name: animateStamp_4_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(19deg);
}

@keyframes animateStamp_4_{
    from{
        transform: translate(0%,0%) rotate(19deg);
    }
    to{
        transform: translate(-314%,-182%) rotate(19deg);
    }
}

svg #stamp_3_ {
    animation-duration: 1.2s;
    animation-delay: 3.5s;
    animation-name: animateStamp_3_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(14deg);
}

@keyframes animateStamp_3_{
    from{
        transform: translate(0%,0%) rotate(14deg);
    }
    to{
        transform: translate(-323%,-133%) rotate(14deg);
    }
}


svg #stamp_1_ {
    animation-duration: 1.2s;
    animation-delay: 3.6s;
    animation-name: animateStamp_1_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(5deg);
}

@keyframes animateStamp_1_{
    from{
        transform: translate(0%,0%) rotate(5deg);
    }
    to{
        transform: translate(-332%,-51%) rotate(5deg);
    }
}


svg #stamp {
    animation-duration: 1.2s;
    animation-delay: 3.7s;
    animation-name: animateStamp;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(-3deg);
}

@keyframes animateStamp{
    from{
        transform: translate(0%,0%) rotate(-3deg);
    }
    to{
        transform: translate(-333%,26%) rotate(-3deg);
    }
}

svg #stamp_16_ {
    animation-duration: 1.2s;
    animation-delay: 3.8s;
    animation-name: animateStamp_16_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(-11deg);
}

@keyframes animateStamp_16_{
    from{
        transform: translate(0%,0%) rotate(-11deg);
    }
    to{
        transform: translate(-328%,108%) rotate(-11deg);
    }
}

svg #stamp_15_ {
    animation-duration: 1.2s;
    animation-delay: 3.9s;
    animation-name: animateStamp_15_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(-20deg);
}

@keyframes animateStamp_15_{
    from{
        transform: translate(0%,0%) rotate(-20deg);
    }
    to{
        transform: translate(-317%,187%) rotate(-20deg);
    }
}


svg #stamp_14_ {
    animation-duration: 1.2s;
    animation-delay: 4.0s;
    animation-name: animateStamp_14_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(-29deg);

}

@keyframes animateStamp_14_{
    from{
        transform: translate(0%,0%) rotate(-29deg);
    }
    to{
        transform: translate(-293%,265%) rotate(-29deg);
    }
}

svg #stamp_13_ {
    animation-duration: 1.2s;
    animation-delay: 4.1s;
    animation-name: animateStamp_13_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(-35deg);
}

@keyframes animateStamp_13_{
    from{
        transform: translate(0%,0%) rotate(-35deg);
    }
    to{
        transform: translate(-274%,312%) rotate(-35deg);
    }
}

svg #stamp_12_ {
    animation-duration: 1.2s;
    animation-delay: 4.2s;
    animation-name: animateStamp_12_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(-45deg);
}

@keyframes animateStamp_12_{
    from{

        transform: translate(0%,0%) rotate(-45deg);
    }
    to{
        transform: translate(-241%,391%) rotate(-45deg);
    }
}


svg #stamp_11_ {
    animation-duration: 1.2s;
    animation-delay: 4.3s;
    animation-name: animateStamp_11_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(-51deg);
}

@keyframes animateStamp_11_{
    from{
        transform: translate(0%,0%) rotate(-51deg);
    }
    to{
        transform: translate(-213%,437%) rotate(-51deg);
    }
}

svg #stamp_10_ {
    animation-duration: 1.2s;
    animation-delay: 4.4s;
    animation-name: animateStamp_10_;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%,0%) rotate(-60deg);
}

@keyframes animateStamp_10_{
    from{
        transform: translate(0%,0%) rotate(-60deg);
    }
    to{
        transform: translate(-144%,443%) rotate(-60deg);
    }
}




/*
animate parts
 */
#singleBlueBlokTop{
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-name: slideDownSingleBlueTop;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform: translate(0%,0%);
    opacity: 0;
}
@keyframes slideDownSingleBlueTop{
    0%{
        transform: translate(-120%,-0%);
        opacity:0;
    }
    100%{
        transform: translate(0%,0%);
        opacity: 1;
    }
}

#singleBlueBlokBottom{
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-name: slideDownSingleBlueBottom;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform: translate(0%,0%);
    opacity: 0;
}
@keyframes slideDownSingleBlueBottom{
    0%{
        transform: translate(-120%,-0%);
        opacity:0;
    }
    100%{
        transform: translate(0%,0%);
        opacity: 1;
    }
}


#yellowBlok{
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-name: SlideyellowBlok;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform: translate(0%,0%);
    opacity: 0;
}
@keyframes SlideyellowBlok{
    0%{
        transform: translate(0%,120%);
        opacity:0;
    }
    100%{
        transform: translate(0%,0%);
        opacity: 1;
    }
}


#redBlok{
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-name: slideDownRed;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform: translate(0%,0%);
    opacity: 0;
}

@keyframes slideDownRed{
    0%{
        transform: translate(0%,-120%);
        opacity:0;
    }
    100%{
        transform: translate(0%,0%);
        opacity: 1;
    }
}

#buleBlok{
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: slideDownBlue;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform: translate(0%,0%);
    opacity: 0;
}

@keyframes slideDownBlue{
    0%{
        transform: translate(0%,-120%);
        opacity:0;
    }
    100%{
        transform: translate(0%,0%);
        opacity: 1;
    }
}




#bottomBlok{
    animation-duration: 2s;
    animation-delay: 1s;
    animation-name: slideIn;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform: translate(0%,0%);
    opacity: 0;
}

@keyframes slideIn{
    0%{
        transform: translate(0%,120%);
        opacity:0;
    }
    100%{
        transform: translate(0%,0%);
        opacity: 1;
    }
}


#blackBlokTop{
    animation-duration: 2s;
    animation-delay: 1.3s;
    animation-name: slideDown;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform: translate(0%,0%);
    opacity: 0;
}

@keyframes slideDown{
    0%{
        transform: translate(0%,-120%);
        opacity:0;
    }
    100%{
        transform: translate(0%,0%);
        opacity: 1;
    }
}


.st3 > *{
    animation-duration: 0.6s;
    animation-delay: 2s;
    animation-name: resetToNormal;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(0.0);
    -ms-transform: scale(0.0);
    -webkit-transform: scale(0.0);
    opacity: 1;
}

#hammer_10_{ animation-delay: 0.5s }
#hammer_11_{ animation-delay: 0.6s }
#hammer_12_{ animation-delay: 0.7s }
#hammer_13_{ animation-delay: 0.8s }
#hammer_14_{ animation-delay: 1.1s }
#hammer_15_{ animation-delay: 1.2s }
#hammer_16_{ animation-delay: 1.3s }
#hammer{ animation-delay: 1.4s }
#hammer_1_{ animation-delay: 1.5s }
#hammer_2_{ animation-delay: 1.6s }
#hammer_3_{ animation-delay: 1.7s }
#hammer_4_{ animation-delay: 1.8s }
#hammer_5_{ animation-delay: 1.9s }
#hammer_6_{ animation-delay: 2s }
#hammer_7_{ animation-delay: 2.1s }
#hammer_8_{ animation-delay: 2.2s }



@keyframes resetToNormal{
    0%{
        transform: scale(0.0);
        -ms-transform: scale(0.0);
        -webkit-transform: scale(0.0);
        opacity:0;
    }
    80%{
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    100%{
        transform: scale(1.0);
        -ms-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}



#line1{
    animation-duration: 0.6s;
    animation-delay: 1s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line2{
    animation-duration: 0.6s;
    animation-delay: 1.1s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line3{
    animation-duration: 0.6s;
    animation-delay: 1.2s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line4{
    animation-duration: 0.6s;
    animation-delay: 1.3s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line5{
    animation-duration: 0.6s;
    animation-delay: 1.4s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line6{
    animation-duration: 0.6s;
    animation-delay: 1.5s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line7{
    animation-duration: 0.6s;
    animation-delay: 1.6s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line8{
    animation-duration: 0.6s;
    animation-delay: 1.7s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line9{
    animation-duration: 0.6s;
    animation-delay: 1.8s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line10{
    animation-duration: 0.6s;
    animation-delay: 1.9s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line11{
    animation-duration: 0.6s;
    animation-delay: 2.0s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line12{
    animation-duration: 0.6s;
    animation-delay: 2.1s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}
#line13{
    animation-duration: 0.6s;
    animation-delay: 2.2s;
    animation-name: slideBloksHammer;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(100%,0%);
    transform-origin: center;
    opacity: 0;
}


@keyframes slideBloksHammer{
    from{
        transform: translate(100%,0%);
        opacity: 0;
    }
    to{
        transform: translate(0%,0%);
        opacity: 1;
    }
}

#sepparator{
    animation-duration: 0.6s;
    animation-delay: 1s;
    animation-name: slideSepperator;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translate(0%,-100%);
    transform-origin: center;
    opacity: 0;
}

@keyframes slideSepperator{
    from{
        transform: translate(0%,-100%);
        opacity: 0;
    }
    to{
        transform: translate(0%,0%);
        opacity: 1;
    }
}

svg #header{
    animation-duration: 0.6s;
    animation-delay: 2.5s;
    animation-name: popHeader ;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: scale(0.0);
    -ms-transform: scale(0.0);
    -webkit-transform: scale(0.0);
    transform-box: fill-box;
    transform-origin: center;
    opacity: 0;
}

@keyframes popHeader{
    0%{
        transform: scale(0.0);
        -ms-transform: scale(0.0);
        -webkit-transform: scale(0.0);
        opacity:0;
    }
    80%{
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity:1;
    }
    100%{
        transform: scale(1.0);
        -ms-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}


/*svg .move{*/
    /*animation-duration: 1.2s!important;*/
    /*animation-name: animateHead!important;*/
    /*animation-iteration-count: infinite!important;*/
    /*animation-direction: alternate!important;*/
    /*opacity: 1!important;*/
    /*transform: scale(1.0);*/
    /*-ms-transform: scale(1.0);*/
    /*-webkit-transform: scale(1.0);*/

/*}*/

/*@keyframes animateHead{*/
    /*from{*/
        /*transform: translateY(-10%);*/

    /*}*/
    /*to{*/
        /*transform: translateY(5%);*/
    /*}*/
/*}*/



#brownBlokTop{
    animation-duration: 0.6s;
    animation-delay: 0.5s;
    animation-name: popLeft ;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translateX(-1000%);
    transform-box: fill-box;
    transform-origin: center;
    opacity: 0;
}

#brownBlokBottom{
    animation-duration: 0.6s;
    animation-delay: 0.9s;
    animation-name: popLeft ;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform: translateX(-1000%);
    transform-box: fill-box;
    transform-origin: center;
    opacity: 0;
}

@keyframes popLeft{
    from{
        opacity: 0;
        transform: translateX(-1000%);

    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

#greenBlok{
    animation-delay: 1s;
    animation-duration: 1.2s;
    animation-name: greenSlide;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%, -1000%) rotate(90deg);
    opacity: 0;
}

@keyframes greenSlide{
    from{
        opacity: 0;
        transform: translate(0%, -1000%) rotate(90deg);

    }
    to{
        opacity: 1;
        transform: translate(0%,0%) rotate(90deg);
    }
}


#blackbox{
    transform-box: fill-box;
    transform-origin: center;
    transform: translate(0%, 0%) rotate(0deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#enter:hover #blackbox{
    transform: translate(0%, 104%) rotate(0deg);
}
/* path */





/*
Mobile
 */
@media only screen and (max-width: 600px) {
    svg {
        width: 100%;
        transform: rotate(90deg);
    }
}